USE [OkulOtomasyon]
GO
/****** Object:  Table [dbo].[TBL_IL]    Script Date: 4.07.2023 18:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_IL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sehir] [nvarchar](255) NULL,
 CONSTRAINT [PK_TBL_IL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ILCE]    Script Date: 4.07.2023 18:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ILCE](
	[id] [int] NOT NULL,
	[ilce] [nvarchar](255) NULL,
	[sehir] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_TBL_ILCE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_IL] ON 

INSERT [dbo].[TBL_IL] ([id], [sehir]) VALUES (1, N'ADANA')
INSERT [dbo].[TBL_IL] ([id], [sehir]) VALUES (2, N'ADIYAMAN')
INSERT [dbo].[TBL_IL] ([id], [sehir]) VALUES (3, N'AFYON')
SET IDENTITY_INSERT [dbo].[TBL_IL] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_ILCE] ON 

INSERT [dbo].[TBL_ILCE] ([id], [ilce], [sehir]) VALUES (1, N'SEYHAN', 1)
INSERT [dbo].[TBL_ILCE] ([id], [ilce], [sehir]) VALUES (2, N'CEYHAN', 1)
INSERT [dbo].[TBL_ILCE] ([id], [ilce], [sehir]) VALUES (3, N'FEKE', 1)
GO
SET IDENTITY_INSERT [dbo].[TBL_ILCE] OFF
GO
ALTER TABLE [dbo].[TBL_ILCE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_ILCE_TBL_IL1] FOREIGN KEY([sehir])
REFERENCES [dbo].[TBL_IL] ([id])
GO
ALTER TABLE [dbo].[TBL_ILCE] CHECK CONSTRAINT [FK_TBL_ILCE_TBL_IL1]
GO
