USE [OkulOtomasyon]
GO
/****** Object:  Table [dbo].[TBL_BRANSLAR]    Script Date: 4.07.2023 22:27:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BRANSLAR](
	[BRANSID] [smallint] IDENTITY(1,1) NOT NULL,
	[BRANSAD] [varchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_BRANSLAR] ON 

INSERT [dbo].[TBL_BRANSLAR] ([BRANSID], [BRANSAD]) VALUES (1, N'MATEMATİK')
INSERT [dbo].[TBL_BRANSLAR] ([BRANSID], [BRANSAD]) VALUES (2, N'TÜRKÇE')
INSERT [dbo].[TBL_BRANSLAR] ([BRANSID], [BRANSAD]) VALUES (3, N'FEN BİLGİSİ')
SET IDENTITY_INSERT [dbo].[TBL_BRANSLAR] OFF
GO
