USE [OkulOtomasyon]
GO
/****** Object:  Table [dbo].[TBL_OGRENCILER]    Script Date: 27.07.2023 01:07:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_OGRENCILER](
	[OGRID] [int] IDENTITY(1,1) NOT NULL,
	[OGRNO] [char](4) NULL,
	[OGRVELIID] [int] NULL,
	[OGRAD] [varchar](30) NULL,
	[OGRSOYAD] [varchar](50) NULL,
	[OGRDOGUM] [date] NULL,
	[OGRCINSIYET] [char](1) NULL,
	[OGRTC] [char](11) NULL,
	[OGRIL] [varchar](13) NULL,
	[OGRILCE] [varchar](20) NULL,
	[OGRADRES] [varchar](50) NULL,
	[OGRFOTO] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_OGRENCILER] PRIMARY KEY CLUSTERED 
(
	[OGRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
