USE [OkulOtomasyon]
GO
/****** Object:  Table [dbo].[TBL_VELILER]    Script Date: 30.09.2023 13:56:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_VELILER](
	[VELIID] [int] IDENTITY(1,1) NOT NULL,
	[VELIANNE] [varchar](50) NULL,
	[VELIBABA] [varbinary](50) NULL,
	[VELITEL1] [char](15) NULL,
	[VELITEL2] [char](15) NULL,
	[VELIMAIL] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_VELILER] PRIMARY KEY CLUSTERED 
(
	[VELIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
